.git
.gitignore
.github
.rubocop_todo.yml
.idea
.byebug_history

log/*
tmp/*

coverage
spec/examples.txt

project_venv
node_modules
.bundle
vendor/bundle

docs
README.md
Dockerfile
docker-compose.yml
.dockerignore

config/master.key
.env
.env.*
